# for Loops

In [1]:
l = [1,2,3,4,5]

In [3]:
for element in l:
    print element

1
2
3
4
5

In [8]:
for num in l:
    print 'something ' + repr(num)

something 1
something 2
something 3
something 4
something 5

In [9]:
# MODULO (remainder of something)

In [10]:
10 % 3

1

In [11]:
18 % 7

4

In [12]:
4 % 2

0

In [13]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4

In [14]:
for num in l:
    if num % 2 != 0:
        print(num)

1
3
5

In [17]:
for num in l:
    if num % 2 == 0:
        print('Here is an even number: ' + str(num))
    elif num % 2 != 0:
        print('Here is an odd number: ' + str(num))

Here is an odd number: 1
Here is an even number: 2
Here is an odd number: 3
Here is an even number: 4
Here is an odd number: 5

In [18]:
l

[1, 2, 3, 4, 5]

In [20]:
list_sum = 0

for num in l:
    list_sum += num
    
print (list_sum)

15

In [21]:
s = 'This is a string'

In [22]:
for char in s:
    print(char)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [23]:
tup = (1,2,3,4,5)

for t in tup:
    print t

1
2
3
4
5

In [24]:
l = [(2,4),(6,8),(10,12)]

In [25]:
l[0]

(2, 4)

In [26]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [27]:
for (t1, t2) in l:
    print t1

2
6
10

In [28]:
d = {'k1':1, 'k2':2, 'k3':3}

In [29]:
for item in d:
    print item

k3
k2
k1

In [32]:
for  k,v in d.iteritems():
    print k + "," + str(v)

k3,3
k2,2
k1,1