# Tuples

l is a list

In [1]:
l = [1,2,3]

t is a tuple

In [2]:
t = (1,2,3)

In [3]:
t

(1, 2, 3)

In [4]:
l

[1, 2, 3]

In [5]:
len(t)

3

In [6]:
T = ('one', 2)

In [7]:
T

('one', 2)

In [8]:
t = T

In [9]:
t

('one', 2)

In [10]:
T = []

In [11]:
t

('one', 2)

tuple is a sequence

In [13]:
t.index(2)

1

In [14]:
t[1]

2

In [15]:
t[::-1]

(2, 'one')

In [16]:
t.index('one')

0

In [17]:
t.count('one')

1

In [18]:
t = (1,1,1,2,3)

In [19]:
t.count(1)

3

Tuples are immutable

In [20]:
t = (1,2,3)

In [21]:
t

(1, 2, 3)

In [22]:
l

[1, 2, 3]

In [24]:
l[0] = 'string'

In [25]:
l

['string', 2, 3]

In [26]:
t[0]

1

In [27]:
t[0] = 'string'

TypeError: 'tuple' object does not support item assignment

In [28]:
week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [29]:
week[1]

'Tuesday'

In [30]:
week[1] = 'Tisdag'

TypeError: 'tuple' object does not support item assignment

Tuples are immutable. You cannot change the elements in a tuple. Why would you want to change the days of a week (for example).

In [31]:
week[::-1]

('Sunday', 'Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday')

In [32]:
len(week)

7