# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:
There are various types of numbers but we covered two types of them. The integers and the floats. Integers are whole numbers and floats are real numbers containing decemal points like 1.0, 1.3, 100.25, etc.

Strings:
String are a sequence of number or letters or mix of both. Strings are immutable meaning you cannot change the contents of a string once it is created. You would have to recreate a new string object.

Lists:
Lists are a general version of a sequence, yet lists are mutable in that you can change the contents or the elements of a list. Lists are constructed with [] and the elements in a list are separated by a comma.

Tuples:
Tuples are similar to lists except the elements in a tuple are immutable. Tuples are constructed with () and it's elements are separated by commas. Tuples as well as lists can contain a mixture of object types such as numbers and strings.

Dictionaries:
Unlike strings and lists the dictionaries are mappings in Python. The dictionaries consist of key, value pairs and are constructed using {} and are orderless.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [34]:
((5*100/5)**2) + 200 - 10099.75

100.25

In [30]:
((100**2)+200)-100.25

10099.75

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [36]:
2.0/3

2/3 will yield 0 because we are using python 2 which trancates the decemal point and anything to the right. 
To get the correct answer we add a decemal point to either the 2 or the 3 and re-run the query.

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [37]:
44, 29, 34

(44, 29, 34)

What is the *type* of the result of the expression 3 + 1.5 + 4?

In [ ]:
Float

What would you use to find a numberâ€™s square root, as well as its square?

In [38]:
100**2

10000

In [39]:
100**0.5

10.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [41]:
s = 'hello'
# Print out 'e' using indexing

# Code here

In [42]:
s[1]

'e'

Reverse the string 'hello' using indexing:

In [ ]:
s ='hello'

# Reverse the string using indexing

# Code here

In [43]:
s[::-1]

'olleh'

In [44]:
s.reverse

AttributeError: 'str' object has no attribute 'reverse'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [46]:
s ='hello'

# Print out the

# Code here

In [49]:
s[4]

'o'

In [50]:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [51]:
[0,0,0]

[0, 0, 0]

In [52]:
l = [0,0,0]

In [55]:
l = [0]*3
l

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [57]:
l = [1,2,[3,4,'hello']]

In [64]:
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [67]:
l = [5,3,4,6,1]

In [69]:
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [71]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [72]:
d['simple_key']

'hello'

In [73]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [74]:
d['k1']['k2']

'hello'

In [80]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [85]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [87]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [94]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

No, dictioonaries are unordered key:value mappings and are not sequences.

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable.

How do you create a tuple?

with ()'s and comma seperated elements t = (1,2,3)

## Sets

What is unique about a set?

Sets consist of unique elements.

Use a set to find the unique values of the list below:

In [ ]:
l = [1,2,2,33,4,4,11,22,3,3,2]

In [95]:
set(l)
l

[1, 3, 4, 5, 6]

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [102]:
# Answer before running cell
2 > 3

False

In [ ]:
False

In [103]:
# Answer before running cell
3 <= 2

False

In [ ]:
False

In [100]:
# Answer before running cell
3 == 2.0

False

In [96]:
False

False

In [98]:
# Answer before running cell
3.0 == 3

True

In [99]:
True

True

In [105]:
# Answer before running cell
4**0.5 != 2

False

In [104]:
False

False

Final Question: What is the boolean output of the cell block below?

In [107]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [106]:
False

False

## Great Job on your first assessment!